body{
  background-color: rgb(239, 239, 239);
}
.addcard-inp{
  width: 70%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  outline:none;
  border: 1px rgb(184, 184, 184) solid;
}
.buton{
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 40px;
  width: 40px;
border: none;
}
.small-buton{
  border-radius: 5px;
  height: 35px;
  background-color: black;
  color: white;

  width: 35px;
border: none;
}
.card {
  background: #ffffff;
  min-height: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: none;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (min-width: 576px) {
  .addcard-inp{
    width: 50%;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
.addcard-inp{
  width: 25%;
}

}
.task-inp{
width: 87%;
border-radius: 5px;
background-color: white;
height: 35px;
border-radius: 5px;
outline:none;
border: 1px rgb(184, 184, 184) solid;
}
.task{
  width: 92%;
  margin: 5px auto ;
  height: 40px;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  color: rgb(52, 52, 52);
  outline:none;
  border: 1px rgb(184, 184, 184) solid;
}